aiohappyeyeballs
aiohttp
aiosignal
alabaster
altair
python-docx
annotated-types
anyio
asgiref
attrs
babel
bcrypt
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
colorama
config
contourpy
cors
cryptography
cycler
distro
dj-database-url
Django
django-admin-interface
django-cloudinary-storage
django-colorfield
django-cors-headers
django-mailjet
django-storages
djangorestframework
dnspython
docutils
ecdsa
email-validator
et_xmlfile
fastapi
filelock
fonttools
fpdf
frozenlist
fsspec
future
gevent
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
greenlet
groq
grpcio
grpcio-status
gunicorn
h11
hf-xet
httpcore
httplib2
httptools
httpx
idna
imagesize
itsdangerous
Jinja2
jiter
jmespath
joblib
jsonschema
jsonschema-specifications
kiwisolver
libsql-client
lxml
mailjet-rest
markdown-it-py
MarkupSafe
matplotlib
mdurl
MouseInfo
multidict
mysql-conector-python
mysql-connector-python
narwhals
numpy
outcome
packaging
pandas
chromadb
sentence-transformers
openpyxl
pypdf
python-docx
xlrd
passlib
pathlib
pillow
plotly
propcache
proto-plus
protobuf
psycopg2
psycopg2-binary
pyarrow
pyasn1
pyasn1_modules
PyAutoGUI
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
PyGetWindow
Pygments
PyJWT
PyMsgBox
PyMySQL
pyparsing
pyperclip
PyRect
PyScreeze
PySocks
python-dateutil
python-docx
python-dotenv
python-jose
python-multipart
python-slugify
pytweening
PyYAML
qrcode
referencing
requests
requests-file
rich
roman-numerals
rpds-py
rsa
s3transfer
scikit-learn
scipy
seaborn
selenium
shellingham
six
smmap
sniffio
snowballstemmer
sortedcontainers
Sphinx
sphinx-press-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
sqlparse
starlette
streamlit
tenacity
text-unidecode
threadpoolctl
tldextract
toml
tqdm
trio
trio-websocket
typer
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
watchdog
watchfiles
websocket-client
websockets
Werkzeug
whitenoise
wsproto
yarl
zope.event
zope.interface